@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* main container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
}

.btn {
  padding: 15px;
  font-family: inherit;
  text-align: center;
  color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  width: 100%;
  background: #ff8c38;
  font-size: 1.5rem;
}

.btn-secondary {
  background-color: #161616;
  color: #fff7ed;
  font-size: 1.15rem;
}

/* start homepage styles */
.homepage {
  height: calc(100vh - 100px);
  position: relative;
  background-image: url('/public/homepage-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  color: white;
}
/* end homepage style*/

.rugged {
  background-color: #115e59;
}
.simple {
  background-color: #e17654;
}
.luxury {
  background-color: #161616;
}

/* mobile styles */
@media (max-width: 700px) {
  .homepage {
    justify-content: space-evenly;
    padding: 50px;
    height: 100%;
  }
}
