/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
/* main container */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* navbar styles */
nav {
  padding: 10px;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
nav ul li {
  color: #5a5858;
  font-size: 1.15rem;
}

/* footer styles */
footer {
  background-color: #252525;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  color: #aaaaaa;
}

/* general styles */

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
a.active {
  text-decoration: underline;
}

h1 {
  font-size: 4rem;
}

main {
  height: calc(100vh - 200px);
}

/* button styles */
.btn {
  padding: 15px;
  font-family: inherit;
  text-align: center;
  color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  width: 100%;
  background: #ff8c38;
  font-size: 1.5rem;
}

/* homepage styles */

.homepage {
  position: relative;
  background-image: url('https://images.pexels.com/photos/210243/pexels-photo-210243.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  color: white;
}
.homepage::after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.homepage p {
  color: #c8c7c7;
  font-size: 1.75rem;
}
